<!-- *ngif = 'userObj' added to show or hide the navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light"  *ngIf = 'userObj'>
  <a class="navbar-brand">
      <!-- St. Michael Eritrean Orthodox Tewahdo Church -->
      <!-- <img src="https://stmichaeldc.org/interface/stmichaeldc2/logo2.gif" > -->
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="topnav-right ">

      <!-- *ngif = 'userObj' added to show or hide the navbar -->
    <div class="navbar-nav">    
      <a class="nav-item nav-link active" routerLink="/members">Members Form <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="/membersList">Members List <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="/membership">Membership  <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="/donation">Donation  <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="/building">Building  <span class="sr-only">(current)</span></a>
    </div> 
    
  
    <!-- <div>
        <a class="nav-item nav-link " routerLink="/login">Login <span class="sr-only">(current)</span></a>
    </div> -->
    <!-- <div>
      <a class="nav-item nav-link " routerLink="/registration">Registration <span class="sr-only">(current)</span></a>
  </div> -->
  </div>

  <div class="navbar-nav">
    Hello {{userObj.name}} Welcome
     </div>

    <div>
      <a class="nav-item nav-link active" routerLink="/logout" (click)='logOut()'>Logout <span class="sr-only">(current)</span></a>
    </div>
</nav>

<router-outlet></router-outlet>

<!-- ደብረ ሰላም ቅዱስ ሚካኤል -->