<div ng-controller="MyController" id='container'>
    <div class="jumbotron">
        <h1>Members List</h1>
    </div>
        <table sortable-table (sorted)="onSorted($event)" class="table table-bordered">

          <thead>
              <tr>
                  <th> first Name </th>
                  <th> Last Name </th>
                  <th>Reason for Payment</th>
                  <th>Payment Month(s)</th>
                  <th>Amount</th>
                  <th>Invoice number</th>
                  <th>Date</th>
                  <th>Received BY</th>
                  <th></th>
                  <th></th>
              </tr>
          </thead>
          <tbody *ngIf ='membersData'>
            <!-- pull Data only theData is available -->
            <!-- memberData is an array--nbeed ngFor -->
            <tr *ngFor='let member of membersData'>
                <td>{{member.firstName}}</td>
                <td>{{member.lastName}}</td>
                <td>{{member.reason_for_payment}}</td>
                <td>{{member.payment_months}}</td>
                <td>{{member.amount}}</td>    
                <td>{{member.invoice}}</td>       
                <td>{{member.todaydate}}</td>
                <td>{{member.received_by}}</td>  
                                
                <td><span class="btn btn-primary btn-xs" (click)="edit()">
                    <span class="glyphicon glyphicon-pencil"></span>Edit</span>
                    
                  </td>
                <td><span class="btn btn-danger btn-xs" (click)="deleteMembers(id)">
                    <span class="glyphicon glyphicon-trash"></span>Delete</span></td>    

            </tr>
          </tbody>
          <tbody *ngIf ='membersData'>

          </tbody>
        </table>
</div>

<!-- You use the <ng-content></ng-content> tag as a placeholder for that dynamic content,
then when the template is parsed Angular will replace that placeholder tag with your content.  -->
<!-- <i class="fa fa-chevron-up" *ngIf="sortDirection === 'asc'" ></i>
<i class="fa fa-chevron-down" *ngIf="sortDirection === 'desc'"></i>
<ng-content></ng-content> -->
